In [2]:
# Se importan las librerias necesarias
import pandas as pd
import gzip as gz
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# ETL GAMES

In [36]:
# Usando la libreria gzip descomprimimos el archivo steam_games para poder leerlos con pandas
with gz.open('../Datasets/JSON/steam_games.json.gz') as desc:
    contenido1 = desc.read()

# Leemos el archivo ya descompreso usando pandas para combertirlo en un dataframe
games = pd.read_json(contenido1.decode('utf-8'), lines=True)
games.info()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7172\1610197785.py:6: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  games = pd.read_json(contenido1.decode('utf-8'), lines=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

In [37]:
# Eliminaremos los valores nulos para tener un dataframe mas pequeño y mas concreto
# Quedaran las filas que tengan por lo menos la mitad de datos completos

games = games.dropna(thresh=6)
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32134 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32134 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30757 non-null  object
 10  early_access  32134 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

In [38]:
# Extraemos el año de la columna release
games['release_year'] = games['release_date'].str.extract(r"(\d{4})")
games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,release_year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL,2018
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com,2017
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,2017
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,NaN

In [39]:
df_games = games[["genres", "release_year", "id", "app_name", "title", "tags", "developer","price"]]
df_games.head()

,genres,release_year,id,app_name,title,tags,developer,price
88310,"[Action, Casual, Indie, Simulation, Strategy]",2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
88311,"[Free to Play, Indie, RPG, Strategy]",2018,643980.0,Ironbound,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",Secret Level SRL,Free To Play
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",2017,670290.0,Real Pool 3D - Poolians,Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...",Poolians.com,Free to Play
88313,"[Action, Adventure, Casual]",2017,767400.0,弹炸人2222,弹炸人2222,"[Action, Adventure, Casual]",彼岸领域,0.99
88314,None,NaN,773570.0,Log Challenge,None,"[Action, Indie, Casual, Sports]",None,2.99

In [46]:
df_games['price'] = df_games['price'].fillna(0)
df_games['price'].isna().sum()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7172\60180453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games['price'] = df_games['price'].fillna(0)

0

In [48]:
df_games["price"] = df_games["price"].apply(lambda fila : 0.0 if type(fila)==str else float(fila))
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32134 entries, 88310 to 120444
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   release_year  29967 non-null  object
 2   id            32133 non-null  float64
 3   app_name      32133 non-null  object
 4   title         30085 non-null  object
 5   tags          31972 non-null  object
 6   developer     28836 non-null  object
 7   price         32134 non-null  float64
dtypes: float64(2), object(6)
memory usage: 2.2+ MB

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7172\552633397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games["price"] = df_games["price"].apply(lambda fila : 0.0 if type(fila)==str else float(fila))

In [49]:
df_games = df_games.explode('genres').reset_index(drop=True)
df_games

,genres,release_year,id,app_name,title,tags,developer,price
0,Action,2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
1,Casual,2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
2,Indie,2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
3,Simulation,2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
4,Strategy,2018,761140.0,Lost Summoner Kitty,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",Kotoshiro,4.99
...,...,...,...,...,...,...,...,...
74831,Racing,2018,610660.0,Russian Roads,Russian Roads,"[Indie, Simulation, Racing]",Laush Dmitriy Sergeevich,1.99
74832,Simulation,2018,610660.0,Russian Roads,Russian Roads,"[Indie, Simulation, Racing]",Laush Dmitriy Sergeevich,1.99
74833,Casual,2017,658870.0,EXIT 2 - Directions,EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...","xropi,stev3ns",4.99
74834,Indie,2017,658870.0,EXIT 2 - Directions,EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...","xropi,stev3ns",4.99
74835,None,NaN,681550.0,Maze Run VR,None,"[Early Access, Adventure, Indie, Action, Simul...",None,4.99

In [50]:
games = df_games[['genres','developer', 'release_year','app_name','id','price']]

In [51]:
games.to_parquet('../Datasets/games.parquet',compression='snappy', index=False)

# ETL Reviews

In [134]:
# Usando la libreria gzip descomprimimos el archivo user_reviews para poder leerlos con pandas
with gz.open('../Datasets/JSON/user_reviews.json.gz') as desc:
    contenido2 = desc.readlines()

#Transformamos las lineas a registros json
reviews = [eval(line.strip()) for line in contenido2]

# Leemos el archivo ya descompreso usando pandas
reviews = pd.DataFrame(reviews)
print(reviews.info())
reviews.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB
None

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [135]:
# Eliminamos la columna 'user_url' la cual no usaremos
reviews = reviews.drop(columns=['user_url'],axis=1)
reviews2 = reviews

In [136]:
#Desanidamos los datos de la columna Reviews
review_desanidada = []

for index, row in reviews.iterrows():
    user_id = row['user_id']
    reviews = row['reviews']
    
    for i in reviews:   
        new_row = {
        'funny': i.get('funny', ''),
        'posted': i.get('posted', ''),
        'last_edited': i.get('last_edited', ''),
        'item_id': i.get('item_id', ''),
        'helpful': i.get('helpful', ''),
        'recommend': i.get('recommend', bool),
        'review': i.get('review', '')
        }
        
        review_desanidada.append(new_row)

In [137]:
# Convertimos en dataframe los datos desanidados anteriormente
review_desanidada = pd.DataFrame(review_desanidada)
review_desanidada.head(5)

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [138]:
#Creamos la funcion para el analizador de sentimientos
analizador = SentimentIntensityAnalyzer()

def analizador_de_sentimientos (review):
    # Se obtiene el puntaje de polaridad del sentimiento
    compound_score = analizador.polarity_scores(str(review))["compound"]

    # Clasificamos la polaridad segun lo requerido teniendo en cuenta que 0 es negativo, 1 es neutral y 2 es positivo
    if compound_score < 0:
        return 0  
    elif compound_score == 0:
        return 1  
    else:
        return 2

In [139]:
# Agregamos la columna de analisis de sentimiento a la fila de review
review_desanidada['Sentiment_analysis'] = review_desanidada['review'].apply(analizador_de_sentimientos)
review_desanidada

,funny,posted,last_edited,item_id,helpful,recommend,review,Sentiment_analysis
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,2
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,2
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,2
...,...,...,...,...,...,...,...,...
59300,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,2
59301,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,2
59302,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,2
59303,,Posted July 20.,,730,No ratings yet,True,:D,2
59304,,Posted July 2.,,440,No ratings yet,True,so much fun :D,2

In [140]:
review_desanidada = review_desanidada.drop(['funny','helpful','review'], axis=1)
review_desanidada.head()

,posted,last_edited,item_id,recommend,Sentiment_analysis
0,"Posted November 5, 2011.",,1250,True,2
1,"Posted July 15, 2011.",,22200,True,2
2,"Posted April 21, 2011.",,43110,True,2
3,"Posted June 24, 2014.",,251610,True,2
4,"Posted September 8, 2013.",,227300,True,2

In [148]:
#Fecha de last_edited
review_desanidada["Year"] = review_desanidada["last_edited"].str.extract(r"(\d{4})") #year con last_edited
review_desanidada["Year 2"] = review_desanidada["posted"].str.extract(r"(\d{4})").fillna(0)
review_desanidada["Year"].fillna(review_desanidada["Year 2"], inplace=True)
review_desanidada.head()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_28468\295171563.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  review_desanidada["Year"].fillna(review_desanidada["Year 2"], inplace=True)

,posted,last_edited,item_id,recommend,Sentiment_analysis,Year,Year 2
0,"Posted November 5, 2011.",,1250,True,2,2011,2011
1,"Posted July 15, 2011.",,22200,True,2,2011,2011
2,"Posted April 21, 2011.",,43110,True,2,2011,2011
3,"Posted June 24, 2014.",,251610,True,2,2014,2014
4,"Posted September 8, 2013.",,227300,True,2,2013,2013

In [149]:
nan_sum = review_desanidada["Year 2"].isnull().sum()
nan_sum

0

In [150]:
df_Score = review_desanidada[["item_id", "recommend", "Sentiment_analysis", "Year"]].drop_duplicates()
df_Score

      item_id  recommend  Sentiment_analysis  Year
0        1250       True                   2  2011
1       22200       True                   2  2011
2       43110       True                   2  2011
3      251610       True                   2  2014
4      227300       True                   2  2013
...       ...        ...                 ...   ...
59281  220090       True                   1     0
59282  262850       True                   1     0
59285  298110      False                   1     0
59286  431510       True                   2     0
59299     130       True                   2     0

[12652 rows x 4 columns]

In [154]:
review_final = pd.concat([reviews2['user_id'], df_Score], axis=1)
review_final = review_final.dropna()
review_final

                 user_id item_id recommend  Sentiment_analysis  Year
0      76561197970982479    1250      True                 2.0  2011
1                js41637   22200      True                 2.0  2011
2              evcentric   43110      True                 2.0  2011
3                  doctr  251610      True                 2.0  2014
4              maplemage  227300      True                 2.0  2013
...                  ...     ...       ...                 ...   ...
25778       ChrisCoroner  268870      True                 2.0     0
25781        KinkyyyCSGO  242050      True                 2.0  2015
25784  76561198272389051  215280      True                 2.0  2013
25792  76561198296402247   91700      True                 1.0  2013
25796  76561198310819422  208730     False                 1.0  2014

[7973 rows x 5 columns]

In [159]:
review_final['Year'] = review_final['Year'].astype(str).astype(int)
review_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7973 entries, 0 to 25796
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             7973 non-null   object
 1   item_id             7973 non-null   object
 2   recommend           7973 non-null   object
 3   Sentiment_analysis  7973 non-null   float64
 4   Year                7973 non-null   int32
dtypes: float64(1), int32(1), object(3)
memory usage: 342.6+ KB

In [160]:
review_final.to_parquet('../Datasets/reviews.parquet',compression='snappy', index=False)

# ETL items

In [4]:
with gz.open('../Datasets/JSON/users_items.json.gz') as desc:
    contenido3 = desc.readlines()

#Transformamos las lineas a registros json
items = [eval(line.strip()) for line in contenido3]

# Leemos el archivo ya descompreso usando pandas
items = pd.DataFrame(items)
print(items.info())
items.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB
None

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [5]:
items_desanidado = []

for index, row in items.iterrows():
    user_id = row['user_id']
    items_count = row['items_count']
    steam_id = row['steam_id']
    user_url = row['user_url']
    items = row['items']
    
    for i in items:   
        new_row = {
        'user_id': user_id,
        'items_count': items_count,
        'steam_id' : steam_id,
        'user_url' : user_url,
        'item_id': i.get('item_id', ''),
        'item_name': i.get('item_name', ''),
        'playtime_forever': i.get('playtime_forever', ''),
        'playtime_2weeks': i.get('playtime_2weeks', '')
        }
        
        items_desanidado.append(new_row)

desanidado = pd.DataFrame(items_desanidado)
desanidado

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...
5153204,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5153205,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5153206,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

In [6]:
user_items = desanidado[['user_id','steam_id','item_id','item_name','playtime_forever']]
user_items.head(5)

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,6
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,76561197970982479,30,Day of Defeat,7
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0

In [ ]:
user_items.to_parquet('../Datasets/user_items.parquet',compression='snappy',index=False)