In [1]:
# Se importan las librerias necesarias
import pandas as pd
import gzip as gz

In [10]:
# Usando la libreria gzip descomprimimos el archivo steam_games para poder leerlos con pandas
with gz.open('../Datasets/JSON/steam_games.json.gz') as desc:
    contenido1 = desc.read()

# Leemos el archivo ya descompreso usando pandas para combertirlo en un dataframe
games = pd.read_json(contenido1.decode('utf-8'), lines=True)
games.info()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_26744\1610197785.py:6: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  games = pd.read_json(contenido1.decode('utf-8'), lines=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

In [11]:
# Eliminaremos los valores nulos para tener un dataframe mas peque√±o y mas concreto
# Quedaran las filas que tengan por lo menos la mitad de datos completos

games = games.dropna(thresh=6)
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32134 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32134 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30757 non-null  object
 10  early_access  32134 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

In [17]:
# Usando la libreria gzip descomprimimos el archivo user_reviews para poder leerlos con pandas
with gz.open('../Datasets/JSON/user_reviews.json.gz') as desc:
    contenido2 = desc.readlines()

#Transformamos las lineas a registros json
reviews = [eval(line.strip()) for line in contenido2]

# Leemos el archivo ya descompreso usando pandas
reviews = pd.DataFrame(reviews)
print(reviews.info())
reviews.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB
None

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [18]:
reviews = reviews.drop(columns=['user_url'],axis=1)

In [19]:
#Desanidamos los datos de la columna Reviews
review_desanidada = []

for index, row in reviews.iterrows():
    user_id = row['user_id']
    reviews = row['reviews']
    
    for i in reviews:   
        new_row = {
        'funny': i.get('funny', ''),
        'posted': i.get('posted', ''),
        'last_edited': i.get('last_edited', ''),
        'item_id': i.get('item_id', ''),
        'helpful': i.get('helpful', ''),
        'recommend': i.get('recommend', bool),
        'review': i.get('review', '')
        }
        
review_desanidada.append(new_row)